<div class="card">

    <%=image_tag  blog["thumbnail"], alt: blog["title"]%>

    <div class="card-body">
        <h4 class="card-title"><%=blog["title"]%></h4>
        <h5 class="card-subtitle"><%=time_ago_in_words blog["pubDate"].to_datetime%> ago</h5>
        <div class="row flex-spaces child-borders">
            <%= link_to  "Check out", blog["link"], class:"button", target:"_blank" %>
        </div>
    </div>
</div>