<div class="container hero">
    <div class="row flex-center">
        <h1><%= title 'Hey Basecamp!'%></h1>
    </div>
    <div class="row">

         <article class="article">
            <h2 class="article-title">Who am I ?</h2>
            <%= image_tag  "https://avatars0.githubusercontent.com/u/2009988?s=460&u=86ac34e0ec298d4dcc66707359d883f3c90646fb&v=4", alt: "me" %>
            <p class="text-lead me">Software Engineer who is passionate about products.</p>
            <p>I am <span class="me">Partho Ghosh</span>. I am a software engineer and I am strongly passionate about products. Atleast this is what I have been doing (for others as well as for myself) from last 9+ years. I have been a polyglot engineer till now writing software in multiple technologies but primarily in <span class="me">Ruby on Rails</span> and <span class="me">Java</span>.
               Besides that I work with plain HTML5, CSS3, AWS and mulitple data stores (Mysql, Mongo, DynamoDB, etc.). I will not call myself a Javascript pro but I can work with it. Whenever I work on any project and make any changes, I would like to consider the impact on end user of the product. I always consider myself as a work-in-progress and focus more on improving the aspects I lack in. Outside programming, I love to play video games (I am a Sony fan and owned all the consoles since PS2), go for long drives, enjoy good food, memes, consume random videos in Youtube and read random articles on internet. Recently, I discovered that I like to cook too as I enjoy the process whenever I get an opportunity to cook.
               One thing I learned about myself is that whatever I do, I give my 100% in that and do it with passion. I live in beautiful city of Bangalore in southern part of India with my family.
            </p>
            <p>Please feel free to explore the rest of the site to know more about me &#x1F642!</p>
         </article>
    </div>
    <div class="row">
        <article class="article">
            <h2 class="article-title">Why Basecamp?</h2>
            <p class="text-lead me">Even before Basecamp, you guys built Ruby on Rails.</p>
            <p>I had a brief opportunity to use Basecamp 3 years back when one of my friends added me as a project team member.  We were trying a new product idea and he had a free trial access for Basecamp.
            Right from get go, Basecamp was super user friendly compared to other Project management tools I have used (JIRA for e.g). But this is not how I came to know of Basecamp. I knew that Basecamp (which was earlier known as 37Signals) was Jason Fried's and DHH's company about whom I came to know via "Rework".</p>
            <p>Back in 2015, my another friend told me about "Rework". I was kind of in a "Startup" mode during that time and was attempting my second initiative. I am not an avid reader but I still gave the book a try and boy I was so glad. I will be honest that I was not able to finish it due to some other commitments, but whatever I went through, it was amazing.
            "<i>Scratch your own itch</i>" is still there with me.</p>
            <p>These are the following reasons why I would like to have a shot and why you should talk to me:</p>
            <ul>
                <li>You guys gave birth to <span class="me">Ruby on Rails</span>, the most productive framework written till to date. The framework almost feels like a great product which literally enables anyone (even non CS people) to easily ramp-up and build things.
                    You guys made a simple product and from my overall experience one thing I have learnt that simple things are hard to create. I want to learn to make simple things from you guys while working with you. </li>
                <li>Its been almost 7 years that I am writing code in Ruby on Rails. But I did not get an opportunity to work with an organization which is using Rails in its fullest glory. I mean the largest project I have worked on using RoR was my own product (<%=link_to "Candeo app", projects_path, target: "_blank"%>).
                I have also seen a lot of resistance from these organizations and found that most of them have a rigid unconvincing stance against this beautiful framework. I want to work in a place where Rails is given its due importance and respect.</li>
                <li>Along with my technical know-how, I will bring on board sheer perseverance, passion, curosity, humbleness, ownership, adaptability and eagerness to learn.</li>
                <li>I have been scaling Rails using queues/background jobs, instance autoscaling (AWS) and caching. Besides these I would like to learn from you guys how to extact more performance out of rails.</li>
            </ul>
         </article>
    </div>
</div>