<div class="container hero">
    <div class="row flex-center">
        <h1><%= title 'Blog' %></h1>  
    </div>
    <div class="row flex-center">
         <h2>Coming Soon...</h2>   
    </div>
</div>