<div class="container">
    <div class="hero">
        <div class="row flex-center">
            <div class="text-center">
                <h1 class="animate__animated animate__jackInTheBox">Hello World!</h1>
                <h3 class="animate__animated animate__fadeInUp">
                    <span>This is <span class="me">Partho Ghosh</span>, changing the world</span>
                    <br>
                    <span>bit by bit using <span class="skillz"
                                                 data-twreplace-charspeed="75" 
                                                 data-twreplace-wordspeed="3000"
                                                 data-twreplace='<%=@skillz%>'>Ruby</span> </span>
                </h3>
                <a class="paper-btn know-more-margin-top" href="#projects-intro">
                    <span>Know more</span>
                    <br>
                    <span class="down-array">&#8964</span>
                </a>
            </div>
        </div>
    </div>
    <div id="projects-intro" class="projects-intro margin-top-generic">
        <div class="row flex-center">
            <div class="card" style="width: 10rem;">
                <img src="https://picsum.photos/768" alt="Card example image">

                <div class="card-body">
                    <h4 class="card-title">My awesome Paper card!</h4>
                    <h5 class="card-subtitle">Nice looking subtitle.</h5>
                    <p class="card-text">Notice that the card width in this example have been set to 20rem, otherwise it will try to fill the current container/row where the card is.</p>
                    <button>Let me go here!</button>
                </div>
            </div>

            <div class="card" style="width: 10rem;">
                <img src="https://picsum.photos/768" alt="Card example image">

                <div class="card-body">
                    <h4 class="card-title">My awesome Paper card!</h4>
                    <h5 class="card-subtitle">Nice looking subtitle.</h5>
                    <p class="card-text">Notice that the card width in this example have been set to 20rem, otherwise it will try to fill the current container/row where the card is.</p>
                    <button>Let me go here!</button>
                </div>
            </div>

            <div class="card" style="width: 10rem;">
                <img src="https://picsum.photos/768" alt="Card example image">

                <div class="card-body">
                    <h4 class="card-title">My awesome Paper card!</h4>
                    <h5 class="card-subtitle">Nice looking subtitle.</h5>
                    <p class="card-text">Notice that the card width in this example have been set to 20rem, otherwise it will try to fill the current container/row where the card is.</p>
                    <button>Let me go here!</button>
                </div>
            </div>

            <div class="card" style="width: 10rem;">
                <img src="https://picsum.photos/768" alt="Card example image">

                <div class="card-body">
                    <h4 class="card-title">My awesome Paper card!</h4>
                    <h5 class="card-subtitle">Nice looking subtitle.</h5>
                    <p class="card-text">Notice that the card width in this example have been set to 20rem, otherwise it will try to fill the current container/row where the card is.</p>
                    <button>Let me go here!</button>
                </div>
            </div>
        </div>
    </div>
    <div id="blog-intro" class="blog-intro margin-top-generic">
    <div class="row flex-center">
            <div class="text-center">
                <h1 class="animate__animated animate__jackInTheBox">Hello World!</h1>
                <h3 class="animate__animated animate__fadeInUp">
                    <span>This is <span class="me">Partho Ghosh</span>, changing the world</span>
                    <br>
                    <span>bit by bit using <span class="skillz"
                                                 data-twreplace-charspeed="75" 
                                                 data-twreplace-wordspeed="3000"
                                                 data-twreplace='<%=@skillz%>'>Ruby</span> </span>
                </h3>
                <a class="paper-btn know-more-margin-top">
                    <span>Know more</span>
                    <br>
                    <span class="down-array">&#8964</span>
                </a>
            </div>
        </div>
    </div>
</div>
