<div id="blog-intro" class="blog-intro margin-top-generic">
    <div class="row flex-center">
        <div class="text-center">
            <h1>Blog</h1>
                <div class="row">
                    <%@blogs.each do |blog|%>
                        <div class="col md-4 project-item-card">
                            <%= render partial: 'blogs/blog', locals: {blog: blog} %>
                        </div>
                    <%end%>
                    <div class="col md-4 project-item-card">
                        <%= link_to  "Show all", blogs_path, class: "paper-btn" %>
                    </div>
                </div>
        </div>
    </div>
</div>