<div id="blog-intro" class="blog-intro margin-top-generic">
    <div class="row flex-center">
        <div class="text-center">
            <h1>Blog</h1>
            <h3>Coming soon...</h3>
        </div>
    </div>
</div>