<div class="hero">
    <div class="row flex-center">
        <div class="text-center">
            <h1 class="animate__animated animate__jackInTheBox">Hello World!</h1>
            <h3 class="animate__animated animate__fadeInUp">
                <span>This is <span class="me">Partho Ghosh</span>, changing the world</span>
                <br>
                <span>bit by bit using <span class="skillz"
                                                data-twreplace-charspeed="75" 
                                                data-twreplace-wordspeed="3000"
                                                data-twreplace='<%=@skillz%>'>Ruby</span> </span>
            </h3>
            <a class="paper-btn know-more-margin-top" href="#projects-intro">
                <span>Know more</span>
                <br>
                <span class="down-array">&#8964</span>
            </a>
        </div>
    </div>
</div>