<div id="projects-intro" class="projects-intro margin-top-generic">
    <div class="row flex-center">
        <div class="text-center">
            <h1>Projects</h1>
        </div>
        <%@projects.each_slice(3).with_index do |project_row, index|%>
            <div class="row">
                <%project_row.each do |project|%>
                    <div class="col md-4 project-item-card">
                        <%= render partial: 'projects/project', locals: {project: project} %>
                    </div>
                <%end%>
                <%if index == 1%>
                    <div class="col md-4 project-item-card">
                        <%= link_to  "Show all", projects_path, class: "paper-btn" %>
                    </div>
                <%end%>
            </div>
        <%end%>
    </div>
    <%= render partial: 'projects/project_detail', locals: {projects: @projects} %>
</div>