<div class="container hero">
    <div class="row flex-center">
        <div class="text-center">
            <h1>Projects</h1>
        </div>
        <%@projects.each_slice(3) do |project_row|%>
            <div class="row">
                <%project_row.each do |project|%>
                    <div class="col md-4 project-item-card">
                        <%= render partial: 'projects/project', locals: {project: project} %>
                    </div>
                <%end%>
            </div>
        <%end%>  
    </div>
    <%= render partial: 'projects/project_detail', locals: {projects: @projects} %>
</div>