// Place all the styles related to the portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html {
    scroll-behavior: smooth;
}

.hero{
    padding-top: 1em;
}

.me{
    font-weight: bolder;
    color: #ff0000;
}

.skillz{
    font-weight: bolder;
    color: #ff0000;
}

.know-more-margin-top{
    margin-top: 8em;
}

.down-array{
    font-size: xxx-large;
}

.margin-top-generic{
    margin-top: 5em;
    padding-top: 5em;
}

.project-img-holder{
    margin:0 auto;
}

.project-img-holder img{
    height: 100px;
    width: 100px;
}

.horiz-img
{
    height: 100px;
    width: 200px !important; 
}

.project-item-card{
    padding:0.5em;
}

.modal-body{
    height: 480px;
    overflow-y: scroll;
}