// Place all the styles related to the portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html {
    scroll-behavior: smooth;
}

.hero{
    padding-top: 2em;
}

.me{
    font-weight: bolder;
    color: #ff0000;
}

.skillz{
    font-weight: bolder;
    color: #ff0000;
}

.know-more-margin-top{
    margin-top: 8em;
}

.down-array{
    font-size: xxx-large;
}

.margin-top-generic{
    margin-top: 5em;
}